body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-image: url(/Catalogo-de-Filmes/img/brain\ background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.container{
    width: 100%;
}
 h1{
    font-family: 'Netflix sans';
    color: rgba(221, 11, 11, 0.808);
    display: flex;
    letter-spacing: 5px;
    align-self: start;
    align-items: center;
    justify-content: center;
    
}
.filme{
    width: 200px;
    height: 300px;
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 10px;

}