body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    background:linear-gradient(to right, gray, black);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
h1{
    font-family: 'Netflix sans';
    color: rgba(221, 11, 11, 0.808);
    display: flex;
    letter-spacing: 5px;
    align-self: start;
    
}